.search-container {
  margin-bottom: 25px;
}

.search-container h2 {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 600;
}

.search-container input {
  padding: 8px 12px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

/* Focus Effect */
.search-container input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.4);
}


/* Lifecycle input */

.Search-container-lifecycle {
  background-color: #f2f2f2; /* light gray */
  padding: 20px;
  box-sizing: border-box;
}

.Search-container-lifecycle input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.Search-container-lifecycle button {
  padding: 8px 14px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Search-container-lifecycle button:hover {
  background-color: #0056b3;
}
