.search-container {
  margin-bottom: 25px;
}

.search-container h2 {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 600;
}

.search-container input {
  padding: 8px 12px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

/* Focus Effect */
.search-container input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.4);
}
