table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.indian {
    background: linear-gradient(
    to bottom,
    #FF9933 33%,   /* Saffron */
    #FFFFFF 33% 66%,  /* White */
    #138808 66%    /* Green */
  ) !important;
  font-weight: bold;
}