/* Main navbar container */
.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b; 
  padding: 10px 40px;
  color: white;
  position: sticky;
}

.topNavImg img {
  cursor: pointer;
}

.topNavItems ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;  
}

.topNavItems li {
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
}

.topNavItems li:hover {
  color: #38bdf8;   /* light blue */
}
